/*!
 * hozzz
 * @version 0.0.0
 * @time 2014-05-31 23:33
 */

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  color: #999999;
  font-size: 14px;
}

a {
  color: #999999;
}

.bars {
  background: #fff;
  border-bottom: 8px solid #999;
  z-index: 4000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.outer-box {
  width: 100%;
  position: relative;
}

#main-box .default, #main-box .square, #main-box .brick, #main-box .album {
  margin: 0 auto;
}

#main-box .img-overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 25px;
  color: #f2f2f2;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
#main-box .shadow {
  opacity: 0.3;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#main-box .item:hover .img-overlay {
  opacity: 1;
}
#main-box .default {
  width: 630px;
}
#main-box .square {
  width: 918px;
}
#main-box .brick {
  width: 992px;
}
#main-box .album {
  width: 584px;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(15px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav .user {
  float: left;
}
.nav .navigate {
  float: left;
}
.nav .avatar, .nav .settings {
  display: inline-block;
}
.nav .settings {
  background: yellow;
  width: 40px;
  height: 40px;
}
.nav ul.category {
  display: none;
}
.nav li.category:hover ul {
  display: block;
  background: #fff;
  z-index: 4000;
}

.rightBar .backToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.rightBar .searchBox {
  overflow: hidden;
  position: relative;
}
.rightBar .search-text {
  float: right;
  margin-right: 8px;
  height: 18px;
  border: 1px solid #999;
  padding: 10px 33px 10px 10px;
}
.rightBar .search-img {
  display: block;
  width: 33px;
  height: 37px;
  background: url(../img/search.png) no-repeat 8px center;
  position: absolute;
  top: 1px;
  right: 9px;
  cursor: pointer;
}

.default .item {
  margin-bottom: 54px;
  overflow: hidden;
}
.default .postInfo {
  margin-top: 7px;
}
.default .postInfo .act {
  margin-bottom: 14px;
}
.default .postInfo .time {
  margin-bottom: 16px;
}
.default .postInfo .postContent {
  margin-left: 18px;
}
.default .avatar {
  float: left;
  width: 60px;
  text-align: center;
}
.default .avatar img {
  width: 60px;
  height: 60px;
}
.default .avatar .like {
  color: #ccc;
}
.default .content {
  width: 530px;
  margin-left: 100px;
}
.default .content .front {
  width: 530px;
  margin: 0 auto;
  text-align: center;
}
.default .content .calbum {
  display: block;
  line-height: 0;
}
.default .content .calbum img {
  width: 530px;
}
.default .content .title {
  margin: 17px 0 12px 0;
}
.default .seen .peek {
  display: block;
}
.default .seen .peek .sub-item {
  -webkit-animation: slideUp .1s ease-out .26s;
  -moz-animation: slideUp .1s ease-out .26s;
  animation: slideUp .1s ease-out .26s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.default .peek {
  display: none;
  overflow: hidden;
  margin-top: 19px;
  padding: 0 1px;
}
.default .sub-item {
  width: 100px;
  margin: 0 16px 18px 16px;
  float: left;
}
.default .sub-item a {
  display: block;
  line-height: 0;
}
.default .sub-item img {
  width: 100px;
  height: 100px;
}

.square .item {
  display: inline-block;
  width: 270px;
  height: 320px;
  margin: 0 18px 20px;
  vertical-align: top;
}
.square .item .content {
  position: relative;
  height: 270px;
  margin: 0;
  border: 0;
  padding: 0;
}
.square .item .content img {
  width: 270px;
  height: 270px;
}
.square .item .info {
  height: 50px;
  padding: 0 10px 0 24px;
  border: 1px solid #ddd;
  border-top: 0;
  overflow: hidden;
  text-align: left;
  line-height: 50px;
}
.square .item .avatar {
  float: right;
  margin: 0;
  width: 100px;
  cursor: pointer;
  color: #999999;
}
.square .item .avatar img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  vertical-align: middle;
}

.brick .col {
  width: 230px;
  display: inline-block;
  margin: 0 9px;
  vertical-align: top;
}
.brick .item {
  position: relative;
  width: 230px;
  margin-bottom: 22px;
}
.brick .item img {
  width: 230px;
}

.album .albumInfo {
  width: 180px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  text-align: center;
}
.album .albumInfo .avatar {
  margin: 0 auto 3px;
  width: 60px;
  cursor: pointer;
}
.album .albumInfo .avatar img {
  margin-bottom: 12px;
  height: 60px;
  width: 60px;
}
.album .albumInfo .avatar span {
  display: block;
}
.album .albumInfo .subscribe {
  padding-left: 25px;
  line-height: 30px;
  background: url(../img/heart.png) center left no-repeat;
  display: inline-block;
  cursor: pointer;
}
.album .albumContent .item {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid red;
  margin-bottom: 25px;
}
.album .albumContent .imgWrapper {
  display: inline-block;
  background: #efefef;
  position: relative;
}
.album .albumContent .imgWrapper img {
  display: block;
}
.album .albumContent .imgWrapper .imgMeta {
  text-align: center;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.album .albumContent .imgWrapper .imgMeta .rehoz {
  background: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}
.album .albumContent .imgWrapper .collect {
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background: #333;
  background: rgba(98, 98, 98, 0.6);
  padding: 4px 12px;
}
.album .albumContent .imgTitle {
  text-align: center;
  margin-top: 14px;
}

.albumAct {
  margin: 31px 0 28px;
}
.albumAct li {
  display: inline-block;
  margin-right: 18px;
}

.albumComment {
  margin-bottom: 30px;
}

.commentAdd {
  text-align: right;
  margin-bottom: 56px;
}
.commentAdd textarea {
  border: 1px solid #dddddd;
  text-align: left;
  width: 562px;
  height: 100px;
  padding: 10px;
  margin-bottom: 12px;
}
.commentAdd .add {
  padding: 4px 8px;
}

.commentBox .commentItem {
  margin-bottom: 20px;
}

.commentMain {
  overflow: hidden;
}

.commenterAvatar {
  float: left;
}
.commenterAvatar img {
  width: 50px;
  height: 50px;
}

.comment {
  float: right;
  padding-top: 10px;
  width: 519px;
  min-height: 52px;
  position: relative;
}
.comment .reply {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 14px;
  visibility: hidden;
}

.commentMain:hover .reply {
  visibility: visible;
}

.commentReply:hover .reply {
  visibility: visible;
}

.commentHead {
  margin-bottom: 5px;
}

.commentBody {
  padding-right: 50px;
}

.commentReplyList {
  margin-left: 64px;
}
.commentReplyList ul {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px 14px;
}

.commentReply {
  overflow: hidden;
}
.commentReply .comment {
  width: 447px;
}
.commentReply .commenterAvatar img {
  width: 30px;
  height: 30px;
}

.full_screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.loginRegBox .email, .loginRegBox .password, .loginRegBox .repassword, .loginRegBox .captchaText {
  padding: 10px;
  border-radius: 3px;
  margin: 0 auto 20px;
}

.loginRegBox .email, .loginRegBox .password, .loginRegBox .loginBtn, .loginRegBox .regLink, .loginRegBox .loginLink, .loginRegBox .registerBtn, .loginRegBox .recommendAuthor, .loginRegBox .thirdPartyLogin, .loginRegBox .repassword, .loginRegBox .captchaText {
  border: 0;
  box-shadow: 1px 1px 10px 2px #555;
  display: block;
  opacity: .8;
  background: #fff;
}

.logreg-main-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.loginRegBox {
  width: 500px;
  height: 300px;
  position: relative;
  top: 50%;
  margin: 0 auto;
  margin-top: -200px;
  padding: 21px 18px;
  border-radius: 8px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.loginRegBox .email {
  width: 200px;
}
.loginRegBox .password {
  width: 150px;
}
.loginRegBox .loginBtn {
  margin: 8px auto 0;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-indent: -10000px;
  background: url() white no-repeat 50% 50%;
}
.loginRegBox .regLink, .loginRegBox .loginLink, .loginRegBox .registerBtn {
  display: block;
  width: 30px;
  text-align: center;
  margin: 18px auto 0;
  padding: 6px 10px;
  border-radius: 20px;
}
.loginRegBox .footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 21px 18px;
  overflow: hidden;
}
.loginRegBox .recommendAuthor {
  padding: 6px 10px;
  padding-left: 30px;
  border-radius: 3px;
  float: left;
}
.loginRegBox .thirdPartyLogin {
  padding: 4px 10px;
  border-radius: 3px;
  float: right;
}

.loginRegBox .registerForm {
  text-align: center;
}
.loginRegBox .registerForm .email {
  width: 150px;
  display: inline-block;
  margin-right: 40px;
}
.loginRegBox .registerForm .password {
  display: inline-block;
}
.loginRegBox .repassword {
  width: 150px;
}
.loginRegBox .captcha {
  text-align: center;
  padding-top: 5px;
}
.loginRegBox .captcha img {
  width: 70px;
  height: 30px;
  vertical-align: middle;
}
.loginRegBox .captchaText {
  width: 50px;
  height: 10px;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}
.loginRegBox .registerBtn {
  box-sizing: content-box;
}

@media screen and (min-width: 320px) {
  #main-box {
    margin-top: 90px;
  }
  #main-box .square {
    width: 306px;
  }

  .nav {
    float: left;
  }
  .nav .user {
    margin: 10px;
    font-size: 0;
  }
  .nav .avatar img {
    width: 40px;
    height: 40px;
  }
  .nav .settings {
    margin-left: 20px;
  }
  .nav .navigate {
    margin: 10px;
    height: 40px;
  }
  .nav .navigate > ul > li > a {
    display: none;
    vertical-align: top;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  .nav .navigate li.active > a {
    display: inline-block;
    background: teal;
  }
  .nav li.category {
    position: relative;
  }
  .nav ul.category {
    position: absolute;
    top: 0;
    left: 40px;
    height: 40px;
    width: 14em;
    line-height: 40px;
    padding: 0 10px;
  }
  .nav ul.category li {
    display: inline-block;
  }
  .nav ul.category li a:hover {
    background: blue;
  }

  .rightBar {
    float: right;
  }
  .rightBar > div {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
  }
  .rightBar .layout {
    display: none;
  }
  .rightBar .hot {
    display: none;
  }
  .rightBar .search-text {
    width: 10px;
  }
}
@media screen and (min-width: 612px) {
  #main-box .square {
    width: 612px;
  }
}
@media screen and (min-width: 768px) {
  .rightBar .layout {
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .rightBar .layout .active {
    display: block;
    width: 40px;
    height: 40px;
    background: teal;
  }
  .rightBar .search-text {
    width: 100px;
  }
}
@media screen and (min-width: 918px) {
  #main-box {
    margin-top: 33px;
  }
  #main-box .square {
    width: 918px;
  }
}
@media screen and (min-width: 1280px) {
  .bars {
    text-align: center;
  }

  .nav {
    position: fixed;
    top: 40px;
    left: 0;
    width: 120px;
    text-align: center;
  }
  .nav .user {
    margin: 0 0 20px 0;
  }
  .nav .avatar img {
    width: 60px;
    height: 60px;
  }
  .nav .settings {
    margin: 0 0 20px 10px;
  }
  .nav .navigate {
    margin: 0;
    height: auto;
  }
  .nav .navigate > ul > li > a {
    display: block;
    margin-bottom: 17px;
    padding: 14px 40px;
    border: 1px solid #999;
    border-left-width: 0;
    border-radius: 0 5px 5px 0;
    line-height: normal;
    text-align: left;
    height: auto;
    width: auto;
  }
  .nav .navigate > ul > li > a:hover {
    border-color: #000;
  }
  .nav .navigate li.active > a {
    background: transparent;
  }
  .nav ul.category {
    position: static;
    height: auto;
    width: auto;
    line-height: normal;
  }
  .nav ul.category li {
    display: block;
  }
  .nav ul.category li a {
    display: block;
    margin-bottom: 16px;
  }

  .rightBar {
    z-index: 1000;
    position: fixed;
    top: 60px;
    right: 0;
    width: 210px;
  }
  .rightBar > div {
    display: block;
    margin: 0;
  }
  .rightBar .layout {
    display: block;
    overflow: hidden;
    height: auto;
    width: auto;
  }
  .rightBar .viewer {
    float: right;
    margin-right: 50px;
  }
  .rightBar .viewer li {
    width: 25px;
    padding: 10px 0 10px 29px;
    border-left: 1px solid transparent;
    cursor: pointer;
  }
  .rightBar .viewer li.active {
    border-left: 1px solid #a5a5a5;
    background: transparent;
    height: auto;
    width: auto;
  }
  .rightBar .viewer li a {
    display: block;
    width: 25px;
    height: 16px;
  }
  .rightBar .viewer li:hover {
    border-left: 1px solid #a5a5a5;
  }
  .rightBar .viewer li.default:hover a {
    background: url(../img/active_default_view.png);
  }
  .rightBar .viewer li.default a {
    background: url(../img/default_view.png);
  }
  .rightBar .viewer li.square:hover a {
    background: url(../img/active_square_view.png);
  }
  .rightBar .viewer li.square a {
    background: url(../img/square_view.png);
  }
  .rightBar .viewer li.brick a {
    background: url(../img/brick_view.png);
  }
  .rightBar .viewer li.brick:hover a {
    background: url(../img/active_brick_view.png);
  }
  .rightBar .add {
    text-indent: -9999px;
    overflow: hidden;
    float: right;
    margin: 30px 35px 30px 0;
    width: 52px;
    height: 49px;
    background: url(../img/upload.png) 0 0 no-repeat;
    display: block;
    cursor: pointer;
  }
  .rightBar .search {
    clear: right;
  }
  .rightBar .search-text {
    width: 70px;
  }
  .rightBar .hot {
    display: block;
  }
  .rightBar .users {
    padding-left: 60px;
    margin-top: 30px;
  }
}

/*# sourceMappingURL=main.css.map */
