/*!
 * hozzz
 * @version 0.0.0
 * @time 2014-05-29 13:2
 */

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  background: white;
  color: #999999;
  font-size: 14px;
}

a {
  color: #999999;
}

.outer-box {
  width: 100%;
  position: relative;
}

#main-box .default, #main-box .square, #main-box .brick, #main-box .album {
  margin: 0 auto;
}

#main-box {
  padding-top: 33px;
}
#main-box .img-overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding: 25px;
  color: #f2f2f2;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}
#main-box .shadow {
  opacity: 0.3;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#main-box .item:hover .img-overlay {
  opacity: 1;
}
#main-box .default {
  width: 630px;
}
#main-box .square {
  width: 921px;
}
#main-box .brick {
  width: 992px;
}
#main-box .album {
  width: 584px;
}

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(15px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#nav {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 40px;
  width: 120px;
}
#nav .user {
  padding-left: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
#nav .user .avatar {
  float: left;
}
#nav .user .avatar img {
  width: 60px;
  height: 60px;
}
#nav .user .settings {
  float: left;
  margin-right: 100px;
}
#nav .user .settings ul {
  display: none;
}
#nav .navigate {
  margin-bottom: 20px;
}
#nav .navigate li {
  font-size: 14px;
  margin-bottom: 10px;
  width: 100px;
  text-align: center;
}
#nav .navigate ul li a {
  display: block;
  color: #5e5e5e;
  border-radius: 0 3px 3px 0;
  padding: 8px 12px;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
#nav .navigate li.category:hover ul li {
  display: block;
  display: list-item;
}
#nav .navigate ul.category {
  margin-top: 10px;
}
#nav .navigate ul.category li {
  display: none;
}
#nav .navigate ul.category li a {
  display: inline-block;
  margin: 0 auto;
  border-radius: 3px;
  border: 0;
  padding: 2px 4px;
  background: #dddddd;
  color: #7f7f7f;
}

.rightBar {
  z-index: 1000;
  position: fixed;
  top: 60px;
  right: 0;
  width: 210px;
}
.rightBar .layout {
  overflow: hidden;
}
.rightBar .viewer {
  float: right;
  margin-right: 50px;
}
.rightBar .viewer li {
  width: 25px;
  padding: 10px 0 10px 29px;
  border-left: 1px solid transparent;
  cursor: pointer;
}
.rightBar .viewer li.active {
  border-left: 1px solid #a5a5a5;
}
.rightBar .viewer li a {
  display: block;
  width: 25px;
  height: 16px;
}
.rightBar .viewer li:hover {
  border-left: 1px solid #a5a5a5;
}
.rightBar .viewer li.default:hover a {
  background: url(../img/active_default_view.png);
}
.rightBar .viewer li.default a {
  background: url(../img/default_view.png);
}
.rightBar .viewer li.square:hover a {
  background: url(../img/active_square_view.png);
}
.rightBar .viewer li.square a {
  background: url(../img/square_view.png);
}
.rightBar .viewer li.brick a {
  background: url(../img/brick_view.png);
}
.rightBar .viewer li.brick:hover a {
  background: url(../img/active_brick_view.png);
}
.rightBar .add {
  text-indent: -9999px;
  overflow: hidden;
  float: right;
  margin: 30px 35px 30px 0;
  width: 52px;
  height: 49px;
  background: url(../img/upload.png) 0 0 no-repeat;
  display: block;
  cursor: pointer;
}
.rightBar .search {
  clear: right;
}
.rightBar .searchBox {
  overflow: hidden;
  position: relative;
}
.rightBar .search-text {
  float: right;
  margin-right: 8px;
  width: 70px;
  border: 1px solid #999;
  padding: 10px 33px 10px 10px;
}
.rightBar .search-img {
  display: block;
  width: 33px;
  height: 37px;
  background: url(../img/search.png) no-repeat 8px center;
  position: absolute;
  top: 1px;
  right: 9px;
  cursor: pointer;
}
.rightBar .users {
  padding-left: 60px;
  margin-top: 30px;
}

#backToTop {
  margin-left: 60px;
}

.default .item {
  margin-bottom: 54px;
  overflow: hidden;
}
.default .postInfo {
  margin-top: 7px;
}
.default .postInfo .act {
  margin-bottom: 14px;
}
.default .postInfo .time {
  margin-bottom: 16px;
}
.default .postInfo .postContent {
  margin-left: 18px;
}
.default .avatar {
  float: left;
  width: 60px;
  text-align: center;
}
.default .avatar img {
  width: 60px;
  height: 60px;
}
.default .avatar .like {
  color: #ccc;
}
.default .content {
  width: 530px;
  margin-left: 100px;
}
.default .content .front {
  width: 530px;
  margin: 0 auto;
  text-align: center;
}
.default .content .calbum {
  display: block;
  line-height: 0;
}
.default .content .calbum img {
  width: 530px;
}
.default .content .title {
  margin: 17px 0 12px 0;
}
.default .seen .peek {
  display: block;
}
.default .seen .peek .sub-item {
  -webkit-animation: slideUp .1s ease-out .26s;
  -moz-animation: slideUp .1s ease-out .26s;
  animation: slideUp .1s ease-out .26s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.default .peek {
  display: none;
  overflow: hidden;
  margin-top: 19px;
  padding: 0 1px;
}
.default .sub-item {
  width: 100px;
  margin: 0 16px 18px 16px;
  float: left;
}
.default .sub-item a {
  display: block;
  line-height: 0;
}
.default .sub-item img {
  width: 100px;
  height: 100px;
}

.square .item {
  display: inline-block;
  width: 270px;
  height: 320px;
  margin: 0 37px 20px 0;
  vertical-align: top;
}
.square .item .content {
  position: relative;
  height: 270px;
  margin: 0;
  border: 0;
  padding: 0;
}
.square .item .content img {
  width: 270px;
  height: 270px;
}
.square .item .info {
  height: 50px;
  padding: 0 10px 0 24px;
  border: 1px solid #ddd;
  border-top: 0;
  overflow: hidden;
  text-align: left;
  line-height: 50px;
}
.square .item .avatar {
  float: right;
  margin: 0;
  width: 100px;
  cursor: pointer;
  color: #999999;
}
.square .item .avatar img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  vertical-align: middle;
}

.brick .col {
  width: 230px;
  display: inline-block;
  margin: 0 9px;
  vertical-align: top;
}
.brick .item {
  position: relative;
  width: 230px;
  margin-bottom: 22px;
}
.brick .item img {
  width: 230px;
}

.album .albumInfo {
  width: 180px;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  text-align: center;
}
.album .albumInfo .avatar {
  margin: 0 auto 3px;
  width: 60px;
  cursor: pointer;
}
.album .albumInfo .avatar img {
  margin-bottom: 12px;
  height: 60px;
  width: 60px;
}
.album .albumInfo .avatar span {
  display: block;
}
.album .albumInfo .subscribe {
  padding-left: 25px;
  line-height: 30px;
  background: url(../img/heart.png) center left no-repeat;
  display: inline-block;
  cursor: pointer;
}
.album .albumContent .item {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 1px solid red;
  margin-bottom: 25px;
}
.album .albumContent .imgWrapper {
  display: inline-block;
  background: #efefef;
  position: relative;
}
.album .albumContent .imgWrapper img {
  display: block;
}
.album .albumContent .imgWrapper .imgMeta {
  text-align: center;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.album .albumContent .imgWrapper .imgMeta .rehoz {
  background: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}
.album .albumContent .imgWrapper .collect {
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background: #333;
  background: rgba(98, 98, 98, 0.6);
  padding: 4px 12px;
}
.album .albumContent .imgTitle {
  text-align: center;
  margin-top: 14px;
}

.albumAct {
  margin: 31px 0 28px;
}
.albumAct li {
  display: inline-block;
  margin-right: 18px;
}

.albumComment {
  margin-bottom: 30px;
}

.commentAdd {
  text-align: right;
  margin-bottom: 56px;
}
.commentAdd textarea {
  border: 1px solid #dddddd;
  text-align: left;
  width: 562px;
  height: 100px;
  padding: 10px;
  margin-bottom: 12px;
}
.commentAdd .add {
  padding: 4px 8px;
}

.commentBox .commentItem {
  margin-bottom: 20px;
}

.commentMain {
  overflow: hidden;
}

.commenterAvatar {
  float: left;
}
.commenterAvatar img {
  width: 50px;
  height: 50px;
}

.comment {
  float: right;
  padding-top: 10px;
  width: 519px;
  min-height: 52px;
  position: relative;
}
.comment .reply {
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-size: 14px;
  visibility: hidden;
}

.commentMain:hover .reply {
  visibility: visible;
}

.commentReply:hover .reply {
  visibility: visible;
}

.commentHead {
  margin-bottom: 5px;
}

.commentBody {
  padding-right: 50px;
}

.commentReplyList {
  margin-left: 64px;
}
.commentReplyList ul {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 20px 14px;
}

.commentReply {
  overflow: hidden;
}
.commentReply .comment {
  width: 447px;
}
.commentReply .commenterAvatar img {
  width: 30px;
  height: 30px;
}

.bars {
  background: #fff;
  border-bottom: 8px solid #999;
  z-index: 4000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1280px) {
  #main-box {
    margin-top: 120px;
  }

  #nav {
    position: static;
    width: auto;
  }
  #nav .user {
    vertical-align: middle;
    display: inline-block;
    margin: 20px 0;
  }
  #nav .navigate {
    height: 42px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }
  #nav .navigate li {
    width: auto;
    display: inline;
  }
  #nav .navigate li.category:hover ul li {
    display: inline;
  }
  #nav .navigate ul.category {
    margin: 0;
    padding-top: 10px;
  }
  #nav .navigate ul li a {
    padding: 0;
    border: 0;
    display: inline;
  }

  .rightBar {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
