<div class="registerForm">
    <form action="">
        <input class="email" type="text" placeholder="输入邮箱">
        <input class="password" type="password" placeholder="输入密码">
        <input class="repassword" type="password" placeholder="再次密码">
        <div class="captcha">
            <img src="/hozzzone/public/img/captcha.jpg" alt="">
            <input class="captchaText" type="text">
        </div>
        <button class="registerBtn">开通</button>
        <a class="loginLink">返回</a>
    </form>
</div>
