.album {
    .albumInfo {
        width: $albumInfoWidth;
        border-bottom: 1px solid #999;
        padding-bottom: $albumInfoPaddingBottom;
        margin: 0 auto $albumInfoMarginBottom;
        text-align: center;

        .avatar {
            margin: 0 auto $albumAvatarBoxMarginBottom;
            width: 60px;
            cursor: pointer;
            img {
                margin-bottom: $albumAvatarMarginBottom;
                height: 60px;
                width: 60px;
            }
            span {
                display: block; 
            }
        }

        .subscribe {
            padding-left: 25px;
            line-height: 30px;
            background: url(../img/heart.png) center left no-repeat;
            display: inline-block;
            cursor: pointer;
        }
    }

    .albumContent {
        .item {
            text-align: center;
            padding-bottom: $albumItemPaddingBottom;
            border-bottom: 1px solid red;
            margin-bottom: $albumItemMarginBottom;
        }
        .imgWrapper {
            display: inline-block;
            background: #efefef;
            position: relative;
            img {
                display: block;
            }
            .imgMeta {
                text-align: center;
                height: 30px;
                width: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                .rehoz {
                    background: #000;
                    position: absolute;
                    bottom: 0;
                    right: 0;  
                }
            }
            .collect {
                border-radius: 5px;
                display: inline-block;
                color: #fff;
                background: #333;
                background: rgba(98, 98, 98, 0.6);
                padding: 4px 12px;
            }
        }
        .imgTitle {
            text-align: center;
            margin-top: $albumItemTitleMarginTop;
        }
        
    }
}

.albumAct {
    margin: $albumActMarginTop 0 $albumActMarginBottom;
    li {
        display: inline-block;
        margin-right: $albumActLiMarginRight;
    }
}
