.albumComment {
    margin-bottom: 30px;
}


.commentAdd {
    text-align: right;
    margin-bottom: $albumCommentAddMarginBottom;
    textarea {
        border: $albumCommentTextareaBorder solid #ddd;
        text-align: left;
        width: $albumCommentTextareaWidth;
        height: 100px;
        padding: $albumCommentTextareaPadding;
        margin-bottom: $albumCommentTextareaMarginBottom;
    }
    .add {
        padding: 4px 8px;
    }
}

.commentBox {
    .commentItem {
        margin-bottom: 20px; 
    }
}

.commentMain {
    overflow: hidden;
}

.commenterAvatar {
    float: left;
    img {
        width: $albumCommenterAvatarWidth;
        height: $albumCommenterAvatarWidth;
    }
}

.comment {
    float: right;
    padding-top: 10px;
    width: $albumComment;
    min-height: 52px;
    position: relative;
    
    .reply {
        position: absolute; 
        bottom: 10px;
        right: 5px;
        font-size: 14px;
        visibility: hidden;
    }
}

.commentMain:hover .reply {
    visibility: visible;
}
.commentReply:hover .reply {
    visibility: visible;
}

.commentHead {
    margin-bottom: $albumCommentHeadMarginBottom;
}
.commentBody {
    padding-right: 50px;
}

.commentReplyList {
    margin-left: $albumCommentReplyListMarginLeft;
    ul {
        border: 1px solid #333;
        border-radius: 5px;
        padding: $albumCommentReplyListPaddingTop $albumCommentReplyListPaddingLeft;
    }
}

.commentReply {
    overflow: hidden;
    .comment {
        width: $albumReplyComment;
    }
    .commenterAvatar {
        img {
            width: $albumReplyCommenterAvatarWidth;
            height: $albumReplyCommenterAvatarWidth;
        }
    }
}

