// media query


@media screen and (min-width: 320px) {
    #main-box {
        margin-top: 90px;
        .square {
            width: $squareViewerWidth / 3;
        }
    }


    @import "nav320";
    @import "rightBar320"; 
}


@media screen and (min-width: $squareViewerWidth * 2 / 3) {
    #main-box {
        .square {
            width: $squareViewerWidth * 2 / 3;
        }
    }
}


@media screen and (min-width: 768px) {
    @import "nav768";
    @import "rightBar768";
}

@media screen and (min-width: $squareViewerWidth) {
    #main-box {
        margin-top: 33px;
        .square {
            width: $squareViewerWidth;
        }
    } 
}


@media screen and (min-width: 1280px) {

    .bars {
        text-align: center;
    }

    @import "nav1280";
    @import "rightBar1280";
}



