<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index - hozzz</title>
    <link rel="stylesheet" href="/hozzzone/public/css/main.css">
</head>
<body>
    <div class="full_screen" style="background-image: url(/hozzzone/public/img/bg.jpg);">
        <!--<img src="/hozzzone/public/img/bg.jpg" alt="">-->
    </div>
    <div id="app" class="logreg-main-box">
        <div class="loginRegBox" id="Login" style="background-image: url(/hozzzone/public/img/davinci.jpg);">
            include "loginForm.html"
            <div class="footer">
                <div class="recommendAuthor">
                    <img src="" alt="">
                    <span>Heavenly Creature</span>
                </div>
                <div class="thirdPartyLogin">
                    <span>快捷登录</span>
                    <ul class="thirdParties">
                        <li><a class="tpLoginLink" id="tencent" href=""></a></li>
                        <li><a class="tpLoginLink" id="weibo" href=""></a></li>
                        <li><a class="tpLoginLink" id="douban" href=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/hozzzone/public/js/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="/hozzzone/public/js/underscore.js" type="text/javascript"></script>
    <script src="/hozzzone/public/js/backbone.js" type="text/javascript"></script>
    <script src="/hozzzone/public/js/bundle.min.js" type="text/javascript"></script>
    <script>

    </script>
</body>
</html>
