<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index - hozzz</title>
    <link rel="stylesheet" href="/hozzz/dist/css/main.css">
</head>
<body>
    <div class="outer-box">
        <div id="nav">
            <div class="user">
                <div class="avatar">
                    <img src="../src/img/avatar.png" alt="user.name">
                </div>
                <div class="settings">
                    <a id=""></a>
                    <ul>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="navigate">
                <ul>
                    <li><a href="">推荐</a></li>
                    <li><a href="">关注</a></li>
                    <li><a href="">小店</a></li>
                    <li>
                        <a href="">类别</a>
                        <ul class="category">
                            <li><a href="">物品</a></li>
                            <li><a href="">人像</a></li>
                            <li><a href="">插画</a></li>
                            <li><a href="">旅行</a></li>
                            <li><a href="">时尚</a></li>
                            <li><a href="">生活</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>    
        <div id="sidebar">
            <div class="layout">
                <ul>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
            <a id="add">
                    
            </a>
            <div class="search">
                <form>
                    <div>
                        <input type="text" placeholder="寻找..">
                        <div class="search-img"></div>
                    </div>
                </form>
            </div>
            <div id="hot">
                <div class="users">
                    <h3 class="header">最近热门用户</h3>
                    <div class="slide">
                        <ul>
                            <li><a href=""><img src="" alt=""></a></li>
                            <li><a href=""><img src="" alt=""></a></li>
                            <li><a href=""><img src="" alt=""></a></li>
                            <li><a href=""><img src="" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <a id="backTop" href="#">顶部</a>
        </div>
        <div id="main-box">
            <div class="item">
                <div class="avatar">
                    <img src="../src/img/a.png" alt="">
                    <span class="name">client</span>
                </div>
                <div class="content">
                    <div class="front">
                        <div>
                            <a href="" class="calbum"><img src="../src/img/img1.png" alt=""></a>
                        </div>
                        <div>
                            <span class="title">男士 手提包 时尚元素</span><br>
                            <a class="like" href="#"><span>1054</span></a>
                        </div>
                    </div>
                    <div class="peek">
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                        <div class="item"><a href=""><img src="" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
