<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index - hozzz</title>
    <link rel="stylesheet" href="/hozzzone/public/css/main.css">
</head>
<body>
    <div class="outer-box" id="app">
        <div class="bars">
            <div class="nav" id="nav">
                <div class="user">
                    <div class="avatar">
                        <img src="/hozzzone/public/img/long.jpg" alt="user.name">
                    </div>
                    <div class="settings">
                        <a id=""></a>
                        <ul>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="navigate">
                    <ul>
                        <li><a href="">推荐</a></li>
                        <li><a href="">关注</a></li>
                        <li><a href="">小店</a></li>
                        <li class="category active">
                            <a href="">类别</a>
                            <ul class="category">
                                <li><a href="">物品</a></li>
                                <li><a href="">人像</a></li>
                                <li><a href="">插画</a></li>
                                <li><a href="">旅行</a></li>
                                <li><a href="">时尚</a></li>
                                <li><a href="">生活</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>    

            <div id="rightBar" class="rightBar">
                <div class="layout">
                    <ul class="viewer" id="viewLayout">
                        <li class="default" id="layoutButton-1"><a href="#"></a></li>
                        <li class="square active" id="layoutButton-2"><a href="#"></a></li>
                        <li class="brick" id="layoutButton-3"><a href="#"></a></li>
                    </ul>
                </div>
                <a class="add" id="addHoz">添加</a>
                <div class="search">
                    <form class="searchForm" id="searchForm">
                        <input type="text" class="search-text" placeholder="寻找..">
                        <button class="search-img" type="submit"></button>
                    </form>
                </div>
                <div class="hot">
                    <div class="users">
                        <h3 class="header">最近热门用户</h3>
                        <div class="slide">
                            <ul>
                                <li><a href=""><img src="" alt=""></a></li>
                                <li><a href=""><img src="" alt=""></a></li>
                                <li><a href=""><img src="" alt=""></a></li>
                                <li><a href=""><img src="" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a id="backToTop" class="backToTop" href="#">顶部</a>
            </div>

        </div>
        <div id="main-box">
            <ul class="square" id="squareItems">
                <li class="item" id="item-1">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">时尚元素</span>  
                            </div>
                            <img src="/hozzzone/public/img/wangl.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-1" href="#"><span>+1054</span></a>

                        <div class="avatar">
                            <img src="/hozzzone/public/img/long.jpg" alt="">
                            <span class="name">Long</span>
                        </div>
                    </div>
                </li><li class="item" id="item-2">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">男士</span>  
                            </div>
                            <img src="/hozzzone/public/img/demon.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-2" href="#"><span>+154</span></a>

                        <div class="avatar">
                            <img src="../src/img/a.png" alt="">
                            <span class="name">jia</span>
                        </div>
                    </div>
                </li><li class="item" id="item-3">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">手提包</span>  
                            </div>
                            <img src="/hozzzone/public/img/davinci.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-3" href="#"><span>+54</span></a>

                        <div class="avatar">
                            <img src="../src/img/a.png" alt="">
                            <span class="name">zhao</span>
                        </div>
                    </div>
                </li><li class="item" id="item-4">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">时尚元素</span>  
                            </div>
                            <img src="/hozzzone/public/img/wangl.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-4" href="#"><span>+1054</span></a>

                        <div class="avatar">
                            <img src="/hozzzone/public/img/long.jpg" alt="">
                            <span class="name">Long</span>
                        </div>
                    </div>
                </li><li class="item" id="item-5">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">男士</span>  
                            </div>
                            <img src="/hozzzone/public/img/orphan.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-5" href="#"><span>+154</span></a>

                        <div class="avatar">
                            <img src="../src/img/a.png" alt="">
                            <span class="name">jia</span>
                        </div>
                    </div>
                </li><li class="item" id="item-6">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">手提包</span>  
                            </div>
                            <img src="/hozzzone/public/img/demon.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-6" href="#"><span>+54</span></a>

                        <div class="avatar">
                            <img src="../src/img/a.png" alt="">
                            <span class="name">zhao</span>
                        </div>
                    </div>
                </li><li class="item" id="item-7">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">时尚元素</span>  
                            </div>
                            <img src="/hozzzone/public/img/wangl.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-7" href="#"><span>+1054</span></a>

                        <div class="avatar">
                            <img src="/hozzzone/public/img/long.jpg" alt="">
                            <span class="name">Long</span>
                        </div>
                    </div>
                </li><li class="item" id="item-8">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">男士</span>  
                            </div>
                            <img src="/hozzzone/public/img/davinci.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-8" href="#"><span>+154</span></a>

                        <div class="avatar">
                            <img src="../src/img/a.png" alt="">
                            <span class="name">jia</span>
                        </div>
                    </div>
                </li><li class="item" id="item-9">
                    <div class="content">
                        <a href="">
                            <div class="img-overlay">
                                <div class="shadow"></div>
                                <span class="title">手提包</span>  
                            </div>
                            <img src="/hozzzone/public/img/demon.jpg" alt="">
                        </a>      
                    </div>
                    <div class="info">
                        <a class="like" id="button-9" href="#"><span>+54</span></a>

                        <div class="avatar">
                            <img src="../src/img/a.png" alt="">
                            <span class="name">zhao</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="/hozzzone/public/js/jquery-2.1.1.js" type="text/javascript"></script>
    <script src="/hozzzone/public/js/underscore.js" type="text/javascript"></script>
    <script src="/hozzzone/public/js/backbone.js" type="text/javascript"></script>
    <script src="/hozzzone/public/js/bundle.min.js" type="text/javascript"></script>
    <script id="js-init">

        var view_json_square = {
            modules: {
                uid: 'app',
                name: 'app',
                children: [
                    {
                        uid: 'squareItems',
                        name: 'squareItems',
                        attrs: {
                            className: 'square'
                        },
                        data: {
                            createdAt: '20140515092039'
                        },
                        children: [
                            {
                                uid: 'item-1',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                children: [
                                    {
                                        uid: 'button-1',
                                        name: 'likeButton',
                                        likeId: '82942934294',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ],
                                data: {
                                    itemId: '239879342089304582304',
                                    author: 'Brian Long',
                                    authorId: '2340959034',
                                    time: '201405161129',
                                    like: '1548'
                                }
                            },
                            {
                                uid: 'item-2',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                data: {
                                    itemId: '304582304',
                                    author: 'B Long',
                                    authorId: '2342397829347892',
                                    time: '20105161129',
                                    like: '148'
                                },
                                children: [
                                    {
                                        uid: 'button-2',
                                        name: 'likeButton',
                                        likeId: '908203842042',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ]
                            },
                            {
                                uid: 'item-3',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                children: [
                                    {
                                        uid: 'button-3',
                                        name: 'likeButton',
                                        likeId: '294829304242',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ],
                                data: {
                                    itemId: '2398',
                                    author: 'Brian asdfasLong',
                                    authorId: '239880345',
                                    time: '201405161129',
                                    like: '154'
                                }
                            },
                            {
                                uid: 'item-4',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                children: [
                                    {
                                        uid: 'button-4',
                                        name: 'likeButton',
                                        likeId: '82942934294',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ],
                                data: {
                                    itemId: '239879342089304582304',
                                    author: 'Brian Long',
                                    authorId: '2340959034',
                                    time: '201405161129',
                                    like: '1548'
                                }
                            },
                            {
                                uid: 'item-5',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                data: {
                                    itemId: '304582304',
                                    author: 'B Long',
                                    authorId: '2342397829347892',
                                    time: '20105161129',
                                    like: '148'
                                },
                                children: [
                                    {
                                        uid: 'button-5',
                                        name: 'likeButton',
                                        likeId: '908203842042',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ]
                            },
                            {
                                uid: 'item-6',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                children: [
                                    {
                                        uid: 'button-6',
                                        name: 'likeButton',
                                        likeId: '294829304242',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ],
                                data: {
                                    itemId: '2398',
                                    author: 'Brian asdfasLong',
                                    authorId: '239880345',
                                    time: '201405161129',
                                    like: '154'
                                }
                            },
                            {
                                uid: 'item-7',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                children: [
                                    {
                                        uid: 'button-7',
                                        name: 'likeButton',
                                        likeId: '82942934294',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ],
                                data: {
                                    itemId: '239879342089304582304',
                                    author: 'Brian Long',
                                    authorId: '2340959034',
                                    time: '201405161129',
                                    like: '1548'
                                }
                            },
                            {
                                uid: 'item-8',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                data: {
                                    itemId: '304582304',
                                    author: 'B Long',
                                    authorId: '2342397829347892',
                                    time: '20105161129',
                                    like: '148'
                                },
                                children: [
                                    {
                                        uid: 'button-8',
                                        name: 'likeButton',
                                        likeId: '908203842042',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ]
                            },
                            {
                                uid: 'item-9',
                                name: 'item',
                                attrs: {
                                    className: 'item'
                                },
                                children: [
                                    {
                                        uid: 'button-9',
                                        name: 'likeButton',
                                        likeId: '294829304242',
                                        attrs: {
                                            className: 'like'
                                        }
                                    }   
                                ],
                                data: {
                                    itemId: '2398',
                                    author: 'Brian asdfasLong',
                                    authorId: '239880345',
                                    time: '201405161129',
                                    like: '154'
                                }
                            }
                        ]
                    },
                    {
                        uid: 'rightBar',
                        name: 'rightBar',
                        children: [
                            {
                                uid: 'viewLayout',
                                name: 'viewLayout',
                                children: [
                                    {
                                        uid: 'layoutButton-1',
                                        name: 'layoutButton',
                                        data: {
                                            view: 'default'
                                        }
                                    },
                                    {
                                        uid: 'layoutButton-2',
                                        name: 'layoutButton',
                                        data: {
                                            view: 'square'
                                        }
                                    },
                                    {
                                        uid: 'layoutButton-3',
                                        name: 'layoutButton',
                                        data: {
                                            view: 'brick'
                                        }
                                    }
                                ]
                            },
                            {
                                uid: 'searchForm',
                                name: 'searchForm'  
                            },
                            {
                                uid: 'addHoz',
                                name: 'addHoz',
                                data: {
                                        
                                } 
                            },
                            {
                                uid: 'backToTop',
                                name: 'backToTop',
                                data: {}    
                            }
                        ] 
                    }
                ]
            }
        };
            
        H.init(view_json_square);
        

    </script>
</body>
</html>
