@import 'reset';

$font: Helvetica, sans-serif;
$nav-font: 14px;
$primary-color: #fff;
$sub-color: #ddd;
$box-color: blue;
$font-color: #999;


// nav
$navLinkColor: #5e5e5e;
$navCategoryLinksColor: #7f7f7f;




// rightBar
$searchTextWidth: 70px;
$searchTextPaddingTop: 10px;
$searchTextPaddingLeft: 10px;
$searchTextPaddingRight: 33px;
$searchTextIconToLeft: $searchTextWidth + $searchTextPaddingLeft;



// default viewer
$defaultItemTitleMarginTop: 17px;
$defaultItemLikeMarginTop: 12px;
$defaultItemPeekMarginTop: 19px;
$defaultItemFrontWidth: 530px;
$defaultItemMarginBottom: 54px;
$defaultAvatarWidth: 60px;
$defaultAvatarMarginRight: 40px;
$defaultViewerWidth: $defaultAvatarWidth + $defaultAvatarMarginRight + $defaultItemFrontWidth;


// default viewer sub.html
$defaultItemPostInfoMarginTop: 7px;
$defaultItemPostActMarginBottom: 14px;
$defaultItemPostTimeMarginBottom: 16px;
$defaultItemPostContentMarginLeft: 18px;



// square viewer
$squareViewerWidth: 918px;
$squareItemMarginLeftRight: 18px;
$squareItemMarginBottom: 28px;
$squareItemImgWidth: ($squareViewerWidth - $squareItemMarginLeftRight * 2 * 3) / 3;
$squareItemShadowPadding: 25px;
$squareItemShadowFontColor: #f2f2f2;
$squareItemAvatarMarginRight: 8px;
$squareItemInfoHeight: 50px;
$squareItemInfoPLeft: 10px;
$squareItemInfoPRight: 24px;
$squareItemAvatarToLeft: 160;
$squareItemAvatarWidthAndHeight: 30px;
$squareItemAvatarNameColor: #999;



// brick viewer
$brickViewerWidth: 992px;
$brickColMarginLeftRight: 9px; 
$brickItemWidth: ($brickViewerWidth - 4 * 2 * $brickColMarginLeftRight) / 4;
$brickItemMarginBottom: 22px;

// album

$albumViewerWidth: 584px;
$albumInfoWidth: 180px;
$albumInfoPaddingBottom: 10px;
$albumInfoMarginBottom: 20px;
$albumAvatarMarginBottom: 12px;
$albumAvatarBoxMarginBottom: 3px;
$albumItemMarginBottom: 25px;
$albumItemPaddingBottom: 50px;
$albumItemTitleMarginTop: 14px;
$albumActMarginTop: 31px;
$albumActMarginBottom: 28px;
$albumActLiMarginRight: 18px;





// albumComment
$albumCommentAddMarginBottom: 56px;
$albumCommentTextareaMarginBottom: 12px;
$albumCommentTextareaBorder: 1px;
$albumCommentTextareaPadding: 10px;
$albumCommentTextareaWidth: $albumViewerWidth - 2 * ($albumCommentTextareaPadding + $albumCommentTextareaBorder); 

$albumCommenterAvatarWidth: 50px;
$albumCommentHeadMarginBottom: 5px;
$albumReplyCommenterAvatarWidth: 30px;
$albumCommenterAvatarMarginRight: 15px;

$albumCommentReplyListMarginLeft: 64px;
$albumCommentReplyListPaddingLeft: 14px;
$albumCommentReplyListPaddingTop: 20px;

$albumComment: $albumViewerWidth - $albumCommenterAvatarWidth - $albumCommenterAvatarMarginRight;
$albumReplyComment: $albumViewerWidth - $albumCommentReplyListMarginLeft - $albumReplyCommenterAvatarWidth - $albumCommenterAvatarMarginRight - 2 * $albumCommentReplyListPaddingLeft;








$viewer-left-margin: 29px;
$rightBar-add-margin-top: 30px;
$rightBar-search-margin-top: 40px;


body {
    background: $primary-color;
    color: $font-color;
    font-size: 14px;
}

a {
    color: $font-color;
}

.bars {
    background: #fff;
    border-bottom: 8px solid #999;
    z-index: 4000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.outer-box {
    width: 100%;
    position: relative;
}



%viewer {
    margin: 0 auto;
  //  position: relative;
   // top: 0;
}


#main-box {

    .img-overlay {
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        padding: $squareItemShadowPadding;
        color: $squareItemShadowFontColor;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 300ms;
        -moz-transition-duration: 300ms;
        -o-transition-duration: 300ms;
        transition-duration: 300ms;
    }

    .shadow {
        opacity: 0.3;
        background: #000;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .item:hover .img-overlay {
        opacity: 1;
    }


    .default {
        @extend %viewer; 
        width: $defaultViewerWidth;
    }
    
    .square {
        @extend %viewer; 
        width: $squareViewerWidth;
    }

    .brick {
        @extend %viewer;
        width: $brickViewerWidth;
    }

    .album {
        @extend %viewer; 
        width: $albumViewerWidth;
    }
}


@-webkit-keyframes slideUp {
    0% {
        opacity:0;
        -webkit-transform:translateY(15px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0);
    }
}

@-moz-keyframes slideUp{
    0% {
        opacity:0;
        -moz-transform:translateY(15px);
    }
    100% {
        opacity:1;
        -moz-transform:translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity:0;
        transform:translateY(15px);
    }
    100% {
        opacity:1;
        transform:translateY(0);
    }
}

@import "nav";
@import "rightBar";
@import "viewer/default";
@import "viewer/square";
@import "viewer/brick";
@import "album/album";
@import "album/albumComment";
@import "logreg/login";
@import "logreg/register";
@import "mq/mq";
