.nav {
    .user {
        float: left;
    }

    .navigate {
        float: left;
    }

    .avatar, .settings {
        display: inline-block;
    }

    .settings {
        background: yellow;
        width: 40px;
        height: 40px;
    }



    ul.category {
        display: none;
    }

    li.category {
        &:hover {
            ul {
                display: block;
                background: #fff;
                z-index: 4000;
            }
        }
    }

}
