.rightBar {
    z-index: 1000;
    position: fixed;
    top: 60px;
    right: 0;
    width: 210px;

    .viewer {
        li {
            width: 25px;
            padding: 10px 0 10px $viewer-left-margin;
            border-left: 1px solid transparent;
            &.active {
                border-left: 1px solid #a5a5a5;
            }
            a {
                display: block;
                width: 25px;
                height: 16px;
            }
            &:hover {
                border-left: 1px solid #a5a5a5;
            }
            &.default:hover a {
                background: url(../img/active_default_view.png);
            }
            &.default a {
                background: url(../img/default_view.png);
            }
            &.square:hover a {
                background: url(../img/active_square_view.png)
            }
            &.square a {
                background: url(../img/square_view.png);
            }
            &.brick a {
                background: url(../img/brick_view.png)
            }
            &.brick:hover a {
                background: url(../img/active_brick_view.png);
            }
        }
    }
    
    .add {
        margin-top: $rightBar-add-margin-top;
        text-indent: -9999px;
        overflow: hidden;
        margin-left: 18px;
        width: 52px;
        height: 49px;
        background: url(../img/upload.png) 0 0 no-repeat;
        display: block;
        cursor: pointer;
    }
    
    .search-text {
        width: $searchTextWidth;
        margin-top: $rightBar-search-margin-top;
        border: 1px solid #999;
        padding: $searchTextPaddingTop $searchTextPaddingRight $searchTextPaddingTop $searchTextPaddingLeft; 
        background: url(../img/search.png) $searchTextIconToLeft center no-repeat;
    }
}

